{% load static %}

{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
    <link rel="stylesheet" href="{% static 'email_to/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'email_to/custom/style.css' %}">
</head>
<body>
    <div class='container py-3'>
        <div class="row">
            <div class="col-lg-6 col-md-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} py-2">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form action="" method="post" novalidate>

                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <fieldset class="form-group border-bottom mb-3 pt-3 pb-1">
                        <legend class="border-bottom mb-3">Send Message</legend>

                        <div class="form-group">
                            <label for={{ form.sender_email.name }}>{{form.sender_email.label}}</label>
                            {{ form.sender_email }}
                            <div class="invalid-feedback d-block">
                                {% for error in form.sender_email.errors %}
                                    <strong id="error_{{ forloop.counter }}">{{ error }}</strong>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for={{ form.receiver_email.name }}>{{ form.receiver_email.label }}</label>
                            {% if form.receiver_email.errors %}
                                {{ form.receiver_email|add_classes:"is-invalid" }}
                                <div class="invalid-feedback">
                                    {% for error in form.receiver_email.errors %}
                                        <strong id="error_{{ forloop.counter }}">{{ error }}</strong>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.receiver_email }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for={{ form.subject.name }}>{{form.subject.label}}</label>
                            {{ form.subject }}
                            <div class="invalid-feedback d-block">
                                {% for error in form.subject.errors %}
                                    <strong id="error_{{ forloop.counter }}">{{ error }}</strong>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for={{ form.message.name }}>{{ form.message.label }}</label>
                            {% if form.message.errors %}
                                {{ form.message|add_classes:"is-invalid" }}
                                <div class="invalid-feedback">
                                    {% for error in form.message.errors %}
                                        <strong id="error_{{ forloop.counter }}">{{ error }}</strong>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.message }}
                            {% endif %}
                            <div class="text-secondary small">{{ form.message.help_text }}</div>
                        </div>

                        <div class="form-group form-check">
                            {{ form.cc_myself }}
                            <label for={{ form.cc_myself.name }} class="form-check-label">{{form.cc_myself.label}}</label>
                            <div class="invalid-feedback d-block">
                                {% for error in form.cc_myself.errors %}
                                    <strong id="error_{{ forloop.counter }}">{{ error }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                <button type="submit" class="btn btn-block btn-sm btn-outline-primary">Send</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>